/* You can add global styles to this file, and also import other style files */
.primary{
  font-size: 1em;
  color:white;
  background-color: #2D9596;
  padding: 0.5em;
  border: none;
}

.container{
  margin:1em;
}

body{
  font-family: 'Lato', sans-serif !important;
  font-family: 'Open Sans', sans-serif !important;
  font-family: 'Quicksand', sans-serif !important;
}

.icon-large{
  width: 40px;
}
