/* You can add global styles to this file, and also import other style files */
.prymary{
  font-size: 1em;
  color:white;
  background-color: #2D9596;
}

.container{
  margin:1em;
}

body{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.icon-large{
  width: 40px;
}
