input[type="file"] {
  display: none;
}

label {
  padding: 10px;
  background-color: #2D9596;
  color: white;
  cursor: pointer;
}

label:hover {
  background-color: #2D9596;
}

.card{
  padding: 1em 1em 2em 1em;
  border-radius: 25px;
  background-color: #EEF5FF;
}
